.footer{
    background-color: black;
    text-align: center;
    height: 60px;

    left: 0;
    bottom: 0;
    width: 100%;

}
.note{
    font-size: 20px;
    text-decoration: underline;
    color: #E68619;
}